

.banner-wrap {
	
	padding-top:0px;
    
	.banner-content {
		padding: 1rem 0 0.5 0;
		text-align:center;

		h1 {
			padding-top:3.5rem;
			text-shadow: 0 0 8px #333;
			font-size: 1.5rem;
		}

	}
	.banner-buttons {
		display: flex;
    	justify-content: center;
    	// padding-bottom:3rem;
    	
    	.button {
    		padding: 0.5rem 0.5rem;
    		margin:.5rem;
    		font-size:1.6rem;
    		background:#333;
    		a {
    			color:white;
    		}
    	}
	}
}


@media (min-width: 600px) {

.banner-wrap {
	.banner-content {
		padding-top:17vh;
		h1 {
			
			font-size: 5rem;
		}
}
.banner-buttons {
		display: flex;
    	justify-content: center;
    	// padding-bottom:1rem;
    	
    	.button {
    		padding:1rem 1rem;
    		// margin:.7rem;
    		font-size:1.4rem;
    		background:#333;
    		a {
    			color:white;
    		}
    	}
	}



}
}

@media (min-width: 900px) {
.banner-wrap {
	.banner-content {
		padding-top:40vh;
		h1 {
			
			font-size: 5rem;
		}
}
.banner-buttons {
	
    	padding-bottom:3rem;
    	
    	.button {
    		padding:1.5rem 2.5rem;
    		margin:.7rem;
    		font-size:1.6rem;
    		background:#333;
    		a {
    			color:white;
    		}
    	}
	}

}
}
