.catering-image {
	height: 60vh;
	background-repeat: no-repeat;
	background-size: 110%;
	background-position: bottom;
}

.content-area {
    width: 90%;
    margin: 0 auto;
}

.white-text {
	color: white;
	margin: 0 auto;
}

.uppercase {
	text-transform: uppercase;
}