.catering-info {
	width: 90%;
	margin: 0 auto;
	padding: 0.2em 0em 2em 0em;
}

.catering-title {
	text-align: center;
	font-size: 2em;
	padding: 0.2em;
	color: #3A3737;
}

.catering-subtitle {
	// display: none;
	text-align: center;
	color: #4F4B4B;
	padding: 1.5em;
}

.contact-button {
	background-color: #3A3737;
	color: white;
	margin: 1em auto;
	padding: 1em;
	border: none;
	text-align:center;
	margin: 0 auto;
}
.contact-button:hover {
	cursor: pointer !important;
}

.catering-text {
		font-size: 1.1em;
		color: #746E6D;
	}

.catering-accordion {
	width: 100%;
	margin: 0 auto;
}

.catering-image {
	height: 30vh;
	// background: linear-gradient(rgba(0,0,0,.3) 100%, transparent);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	position: relative;
}

.catering-content {
	width: 80%;
	margin: 0 auto;
	padding: 1.5em 0em;
}

.menu-title {
	text-align: center;
	position: relative;
	top: 45%;
	text-shadow: 2px 2px #4f4b4b;
}

.accordion-box .menu-title:hover {
	text-decoration: none;
}

.white-text {
	color: white;
	margin: 0 auto;
}

.arrow-down {
	height: 10%;
	width: 5%;
	background-color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
}

.down-chevron {
	height: 15px;
	text-align: center;
	align-self: center;
}

.arrow-clicked {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
}

.post-type-archive-catering {
	a {
		text-decoration: none;
	}

	a:hover {
		text-decoration: none;
	}
}

/***************TABLET****************************/

// @media (min-width: 600px) {

// }

/***************DESKTOP****************************/

@media (min-width: 700px) {
	.catering-info {
		width: 50%;
	}

	.catering-text {
		font-size: 1.1em;
	}

	.catering-title {
		font-size: 3.5em;
	}

	.catering-accordion {
	width: 80%;	
	}
	
	.catering-image {
	height: 40vh;
	}
}