// Global
// .flex {display: flex;}
.textCenter {text-align: center !important;}
.bold{font-weight: bold;}
.grey {color:grey;}
.redcolor {color: rgb(87, 156, 191);}
.margin {margin-right:5% !important; margin-left:5% !important;}
.marginRight {margin-right:5% !important;}
.marginLeft {margin-left:5% !important;}
.marginBottom {margin-bottom: 2vh !important;}
.marginTop {margin-top: 2vh !important;}
.white {color:white;}
.flexContent {display:flex;}
.instagram {text-decoration:none; color:black;}
.carousel-control-next-icon {margin-left:2px;}

.alighRight {text-align: right !important;}

// specific
/* ACF maps */

.linksSpace { display: flex !important; justify-content:space-between !important;}
.whiteColorTo {color:grey;}
.whiteColorTo:hover
{
  color: black;
  text-decoration: none;

}
.flexButton {display: inline-flex; flex-wrap: wrap; width:90%; }
.flexonBig {display:flex;}
.wpcf7-submit {
    background-color: #333; 
    font-size: 15px;    
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 0;
    color: white; 

}
.linkButton,  {
    margin-bottom: 10px; 
    background-color: black;     
    padding-bottom: 5px;
    padding-top: 5px;
    color: white; 
    font-size: 8px;
}

.linkButton:hover
{
  color: white;

}

.acf-map {
    width: 100%;
    height: 400px;
    border: #ccc solid 1px;
    margin: 20px 0;
}
.row {margin-right: 0px!important; }

.acf-map img {
   max-width: inherit !important; }


/* findus Pages */

#googleMaps {min-width:10vw!important; min-height: 40vh!important;}
.AddressScroll { 
    max-height: 30vh;
    overflow-y: scroll; margin-bottom:10px;
    }

.AddressScroll .markerdata p {margin-bottom: 0px;}
.AddressScroll .markerdata {margin-bottom: 25px;}
.markerTitle {margin-bottom: 0px;}
.btnSearch {background-color: black;     
	padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
    color: white; }
.btnSearch:hover { cursor: pointer;}
#geocoding_form {margin-bottom:4%;}
#addressInput { min-width:40%; 
    border: 1px solid black;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 5px;
}

.GoogleMargin{margin-right:5% !important;}





@media only screen and (max-width: 600px){
.font-xl {
    font-size: large !important;
}
.carousel-item {flex-direction: column !important;}

.favouritesImage { width: 80vh; height:40vh;  margin-left: 10px;}
.favouritesText {  height: 20vh; text-align: center; padding-left: 10px; padding-right:10px;
}

.favouritesText { 
    h1 {
    font-size: 20px;
}
}

.emailBackground {
    h5 { font-size: 15px;
    
        }
    }

.shopCategories {
     h2 { font-size: 15px;
        }
    
    }

}

@media (min-width: 600px) {
// .marginBottom {margin-bottom: 5vh !important;}
.carousel-item {justify-content:center !important;}

.linkButton {
    font-size: 12px;
}
.flexonBig {justify-content: center;}
#googleMaps { max-height: 30vh!important;}
.AddressScroll { 
    max-height: 30vh;
    overflow:hidden;
    }

.margin {margin-right:2% !important; margin-left:10% !important;}
.GoogleMargin{margin-right:0% !important;}

.favouritesImage { width: 40%; height:20vh;  }
.favouritesText { width: 40%;   padding-left: 10px; }
.favouritesText { 
    h1 {
    font-size: 20px;
}
}

.shopCategories {
  width: 75%;
  margin-top: 2rem; 
  margin-bottom: 5rem;
 
}


.paddingTopBottom {padding-bottom: 5vh !important; padding-top: 5vh !important;}


.home2Button {
    margin-bottom: 10px; 
    color: black; 
    text-decoration: none;
}

.home2Button:hover
{
  color: black;
  text-decoration: none;

}

.emailAddressInput { min-width:40%; 
    border: 1px solid #333;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 20px;
}
.emailJoinbtn, .wpcf7-submit {
    background-color: #333; 
    font-size: 30px;    
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 0;
    color: white; 

}

.emailJoinbtn:hover, .wpcf7-submit:hover {
        cursor: pointer;
    }

.homeButtons {
        display: flex;
        justify-content: center;
        padding-bottom:3rem;
        
        .homeButton {
            padding:1.5rem 2.5rem;
            margin:.7rem;
            font-size:1.6rem;
            background:#333;
            a {
                color:white;
            }
        }
    }
}

@media (min-width: 900px) {

.favouritesImage { width: 50vh; height:30vh;  }
.favouritesText { width: 30%;   padding-left: 20px; }
// #carouselExampleControls {margin-bottom: 5vh !important;}
.favouritesText { 
    h1 {
    font-size: 1.5rem;
}
}

.marginBottom {margin-bottom: 5vh !important;}
.linkButton {
    font-size: 16px;
}

#googleMaps { max-height: 50vh!important;}
.AddressScroll { 
    max-height: 50vh;
    }
.margin {margin-right:2% !important; margin-left:10% !important;}
.GoogleMargin{margin-right:0% !important;}
    }



// front page //
.emailBackground {
background-color: black;
h5{ 
    padding-top:10px;
}

}

.emailAddressInput { 
    min-width:40%; 
    border: 1px solid #333;
    padding-right: 5px;
    font-size: 15px;
    margin-bottom: 10px;
}
.emailJoinbtn {
    background-color: #333; 
        
    border-radius: 0;
    color: white; 

}

.shopCategories {
  width: 33%;
  margin-top: 1rem; 
  margin-bottom: 1rem;
    img { width:75%;
            height: 20vh;

        }
    h2 {
        color:black;
        text-decoration: none !important;
    }
}

.homeButtons {
        display: flex;
        justify-content: center;
        // padding-bottom:3rem;
        
        .homeButton {
            padding: 0.5rem 0.5rem;
            margin:.5rem;
            font-size:1.6rem;
            background:#333;
            a {
                color:white;
                text-decoration: none;
            }
        }
    }
@media (min-width: 1200px) {
.favouritesImage { width: 60vh;}


}



