// Global
.flex { display: flex;}
.textCenter {text-align: center !important;}
.bold{font-weight: bold;}
.grey {color:grey;}
.redcolor {color: rgb(87, 156, 191);}
.margin {margin-right:5% !important; margin-left:5% !important;}
.marginRight {margin-right:5% !important;}
.marginLeft {margin-left:5% !important;}
.marginBottom {margin-bottom: 5vh !important;}

// specific
/* ACF maps */

.linkButton:hover
{
  color: white;

}



.acf-map {
    width: 100%;
    height: 400px;
    border: #ccc solid 1px;
    margin: 20px 0;
}
.row {margin-right: 0px!important; }

.acf-map img {
   max-width: inherit !important; }


/* findus Pages */

#googleMaps {min-width:10vw!important; min-height: 40vh!important;}
.AddressScroll { 
    max-height: 30vh;
    overflow-y: scroll; margin-bottom:10px;
    }

.AddressScroll .markerdata p {margin-bottom: 0px;}
.AddressScroll .markerdata {margin-bottom: 15px;}
.markerTitle {margin-bottom: 0px;}
.btn {background-color: black;     
	padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
    color: white; }
#geocoding_form {margin-bottom:4%;}
#addressInput { min-width:40%; 
    border: 1px solid black;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 10px;
}

.GoogleMargin{margin-right:5% !important;}

@media (min-width: 600px) {
#googleMaps { max-height: 60vh!important;}
.AddressScroll { 
    min-height: 30vh;
    }
.margin {margin-right:2% !important; margin-left:10% !important;}
.GoogleMargin{margin-right:0% !important;}
    }

@media (min-width: 900px) {
#googleMaps { max-height: 60vh!important;}
.AddressScroll { 
    min-height: 60vh;
    }
.margin {margin-right:2% !important; margin-left:10% !important;}
.GoogleMargin{margin-right:0% !important;}
    }
