/***** General styling *****/


.footerBackground{
	background-color:#000;
	background-size:cover;
	min-width:100%;
	padding:2rem;
	.footer_sign_up {
		flex-basis: 100%; //new
	}
	.footer-flex {
		flex-wrap:wrap;
	}
}

.flexRight{
	display:flex;
	justify-content:flex-end;
}

.widget_nav_menu {

	.menu {
		list-style:none;
		padding:0;
		a {
			color:white;
			text-decoration:underline;
		}
		.sub-menu {
			list-style:none;
			padding:0;
			a {
				text-decoration:none;
			}
		}
		
	}
}


////
.mc-field-group{
    float: left;
    width: 80%;
}

#mce-EMAIL{
	width: 100%;
}

.clear{
	float: left;
    width: 20%;
}

#mc-embedded-subscribe{
	width: 100%;
}

///

.copyrightLine{
	display:flex;
	justify-content:flex-end;
	color:white;
	white-space:nowrap;
}

.mobileFooterNav{
	display:flex;
	justify-content:center;
}

.test-footer-mobile{
	display:flex;
	flex-wrap:wrap;
}




/***** MailChimp plugin styling *****/



.test-footer-mobile {
	justify-content: space-between;
}

.mc_email_format,#mc_display_rewards,.mc_email_format,.field-group{
	display:none !important;
}

.mc_header_address{
	// display:none;
}

#mc_mv_EMAIL::placeholder {
	content:"testr";
}
#mc_signup_submit{
	background-color:black;
	text:white;
	border:1px solid white;
}

#menu-footer{
	list-style:none;
}

#mc_signup_submit {
    margin-top: 2em !important;
    width: 100% !important;
}

.mc_signup_submit {
	width:25%;
	float:left;
}

.mc_merge_var {
	width:75%;
	float:left;
}

.mc_custom_border_hdr {
	color:white;
}

.signUpButton{
	background:black;
	color:white;
	border:1px solid white;
}

.footer_sign_up {
	flex-basis: 100%;
}

#mc_embed_signup_scroll input.mc-field-group {
	float: left;
	width: 80%;
}

.required.email {
	width: 100%;
}

.clear {
	float: left;
	width: 20%;
}

input.button.signUpButton {
	width: 100%;
}





/********** desktop styling **********/

@media only screen and (min-width: 768px){
	
	.footerBackground{
		.flex {
			flex-wrap:wrap;
		}
		.footer_sign_up {
			flex-basis: 25%; //new
		}
	}


/***** instagram plugin styling *****/
.clearIt{
	clear:left;
	margin:0 auto;
	display:block;
}



}

