.footerBackground{
	background-color:black;
	background-size:cover;
	min-width:100%;
	height:50vh;
}

.flexAlignRight{
	display:flex;
	justify-content:flex-end;
}



// .mc_header_address{
// 	display:none;
// }

// .mc_email_format{
// 	display:none;
// }