.footerBackground{
	background-color:black;
	background-size:cover;
	min-width:100%;
	height:50vh;
}

.flexAlignRight{
	display:flex;
	justify-content:flex-end;
}


/***** MailChimp plugin styling *****/

#mc_display_rewards{
	display:none;
}

.mergeRow{
	display:none;
}

.mc_merge_var{
	display:none;
}

/***** MailChimp plugin styling *****/

#menu-footer{
	list-style:none;
}
