/********** general header styling **********/

.mainBody{
	position: fixed;
    top: 0;
    z-index: 2;
     width: 100%;
     background-color: transparent;
}
// logo properties //

.flexAlignLogoNav{
	
	display:flex;
	justify-content:space-between;
	align-items: center;
}
.logoIcon{
	margin-top: 1em;
	height:9em;
	margin-left:3em;
}

// for the social media icon//
.flexAlignRight  a img , .mobileFooterNav a img {
width:42px;
height:42px;
border:0;}

.flexAlignRight, .iconMargin{
    margin-right:1em;
}

/********** navbar specific styling **********/

#desktop-navigation{
	display:flex;
	justify-content:flex-end;
	list-style:none;

	li a{
		margin: 0rem 1rem 0rem 0rem;
		&:hover {
			text-decoration:none;
		}
	}
	
	
	.dropdown-menu {
		li {
			border-bottom:1px solid gainsboro;
			a {
				white-space:nowrap;
				margin-left: 1em;
			}
			&:last-child {
				border:none;
			}
		}
	}
}

.nav.navbar-nav{
	display: flex;
	flex-direction: column;
	color:white;
	width:100%;
}
.mainnavigation {
margin-left: 200px;
justify-content: flex-end;
align-items: flex-start;
}

.main-navigation ul {background-color: black; text-align: center;}

.main-navigation ul li a{

	font-size: 20px;
	// font-weight: bold;
	color:white;
	text-shadow: 0 0 8px #333;


}
.menu-item-has-children ul { 
	margin-left: 50%;
	background-color: black;
	text-align: center;
}

.navbar-header{
	display:none;
}



/********** mobile menu button specific styling **********/

.menuIcon{
    background: url(../../assets/images/IconsPNG/menu-button.png);
    background-size: cover;
    background-position: 50%;
    height: 3em;
    width: 3em;
    margin: 0 auto;
    margin-top: 1em;
    display: block;
    border: none;
}

.mobileSlideOutNav{
	display:flex;
	justify-content: space-between;
}

// .banner-wrap {

	
// }

// .navbar-static-top {
	
// 	// flex-direction: column;
// 	// margin-bottom: 30vh;
// }

// .flexAlignRight {    position: relative;
//     z-index: 2
//     }

 // .mainnavigation{ margin-top: -4%}


/********** desktop styling **********/



@media only screen and (min-width: 600px){

#desktop-navigation {width:90%}
.mainBody{  
	position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    padding-top: 40px;

}
.menu-item-has-children ul { 
	margin-left: 0%;

}

.main-navigation ul {background-color: transparent;}
.nav.navbar-nav{
	display: flex;
	flex-direction: row;
	color:white;
}

.main-navigation ul li a{
	font-size: 15px;
	font-weight: bold;
	color:white;
	text-shadow: 0 0 8px #333;

}
.menu-item-has-children ul { background-color: black;}



}

@media only screen and (min-width: 900px){


.main-navigation ul li a{
	font-size: 20px;
	

}


}




