/********** general header styling **********/

.flexAlignLogoNav{
	display:flex;
	justify-content:space-between;
	align-content:center;
	align-items: center;
}

.iconMargin{
	margin-top:0.5em;
	margin-right:1em;
}

.flexAlignRight{
    display:flex;
    justify-content:flex-end;
    margin-right:3.5em;
}

.iconMargin{
    margin-top:0.5em;
    margin-right:1em;
}
.logoIcon{
	width:9em;
	height:9em;
	margin-left:3em;
}

.marginBottom{
	margin-bottom:0.25em;
}


/********** navbar specific styling **********/

#desktop-navigation{
	display:flex;
	justify-content:flex-end;
	list-style:none;

	li a{
		margin: 0rem 4rem 0rem 0rem;
		&:hover {
			text-decoration:none;
		}
	}
	
	
	.dropdown-menu {
		li {
			border-bottom:1px solid gainsboro;
			a {
				white-space:nowrap;
				margin-left: 1em;
			}
			&:last-child {
				border:none;
			}
		}
	}
}

.nav.navbar-nav{
	display: flex;
	flex-direction: row;
	color:white;
}

.main-navigation ul li a{
	color:black;
}

.navbar-header{
	display:none;
}



/********** mobile menu button specific styling **********/

.menuIcon{
    background: url(../../assets/images/IconsPNG/menu-button.png);
    background-size: cover;
    background-position: 50%;
    height: 3em;
    width: 3em;
    margin: 0 auto;
    margin-top: 1em;
    display: block;
    border: none;
}


/********** desktop styling **********/

@media only screen and (min-width: 768px){

}
