.flex{
	display:flex;
	justify-content:space-between;
	align-content:center;
}


.logoIcon{
	width:8em;
	height:8rem;
}

#primary-menu ul {
	display:flex;
	justify-content:flex-end;
	list-style:none;

	li {
		// padding: 0 2rem 0 0;
		margin: 0rem 4rem 0rem 0rem;
	}
}



// .menuMobile{

// }

// .menuLine{
// 	width: 35px;
// 	height: 5px;
// 	background-color: black;
// 	margin: 6px 0;
// }

/* desktop responsive */
@media only screen and (min-width: 601px){

}