.flex{
	display:flex;
	
}

.logoIcon{
	display:none;
}


.menuMobile{

}

.menuLine{
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px 0;
}

/* desktop responsive */
@media only screen and (min-width: 601px){

}